<div class="mb-container">
    <table style="width: 100%; height: 100%;">
        <tr>
            <td style="width: 70px;">
                <div id="mb-alert-icon" class="mb-icon sprite-ico sprite-ico-info-48">
                </div>
            </td>
            <td>
                <table style="width: 100%; height: 100%;">
                    <tr style="height: 100%;">
                        <td valign="middle">
                            <div id="mb-alert-msg" class="mb-message">
                                <p>message here (including p tags) will be overridden by javascript callers</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="mb-button-container">
                    @Html.DevExpress().Button(
                                    s => {
                                        s.Name = "dlgAlertButtonOk";
                                        s.Width = 100;
                                        s.Text = "OK";
                                        s.ClientSideEvents.Click = "function(s, e) { core.dialogs.alert.dxElement.Hide(); }";
                                    }
                                ).GetHtml()
                </div>
            </td>
        </tr>
    </table>

</div>