<div style="padding: 5px;">
    <h2 id="daily-data-management-heading">Daily Data Management</h2>

    <div id="daily-datamanagement-matrix-container"></div>
</div>

<script type="text/javascript" id="dxss_9we876v93847bn98476b3m03">
    EnsureAppLoaded(function () {

        require(['dailyDataManagement', 'devex'], function (dailyDataManagement, devex) {
            DailyData.Initialize();
        });
    });   
</script>
