
<!-- we're inside a dg-grid here, start a new row for this page's content -->

<div class="dg-row">

    <div class="dg-col-12">

        <div class="dgf left right" style="height: 350px;">
            <div class="dgc block">
                <div id="an-his-sp-dollars"></div>
            </div>
        </div>

        <div class="dgf left right top" style="height: 350px;">
            <div class="dgc block">
                <div id="an-his-sp-gp"></div>
            </div>
        </div>

    </div>

</div>

