
<!-- we're inside a dg-grid here, start a new row for this page's content -->

<div class="dg-row">

    <div class="dg-col-12">

        <div class="dgf left right" style="height: 350px;">
            <div class="dgc block">
                <div id="an-sc-ind-calls" style="position: relative;"></div>
            </div>
        </div>

    </div>

</div>

