USE [Genrev_VBA_Testing_Bkp]
GO
/****** Object:  StoredProcedure [dbo].[GetDownstreamCustomerIDs]    Script Date: 3/14/2026 4:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








 ALTER   PROCEDURE [dbo].[GetDownstreamCustomerIDs] (@PersonID INT ,  @CompanyID INT) AS BEGIN

	 /* TEST DATA
		DECLARE @PersonID INT
		SET @PersonID = 39
	-- */

	IF OBJECT_ID('tempdb..#DCIDPersonnel') IS NOT NULL 
		DROP TABLE #DCIDPersonnel;

	CREATE TABLE #DCIDPersonnel (
		ID INT
	);

	INSERT INTO #DCIDPersonnel EXECUTE dbo.GetDownstreamPersonnelIDs @PersonID = @PersonID;
	
	SELECT
		c.ID
	FROM dbo.CompanyCustomers AS c
	INNER JOIN dbo.CompanyCustomersPersonnel AS cp ON cp.CustomerID = c.ID
	INNER JOIN #DCIDPersonnel AS p ON p.ID = cp.PersonnelID
	WHERE c.CompanyID = @CompanyID
	
	RETURN

END