USE [Genrev_VBA_Testing_Bkp]
GO
/****** Object:  StoredProcedure [staging].[UpsertCustomersToLive]    Script Date: 3/14/2026 4:57:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- ==============================
-- Upsert Customers
-- ==============================

ALTER   PROCEDURE [staging].[UpsertCustomersToLive]
(
    @AccountID INT
)
AS
BEGIN

    SET NOCOUNT ON;

    ----------------------------------------------------
    -- Get CompanyID
    ----------------------------------------------------
    DECLARE @CompanyID INT;

    SELECT TOP 1
        @CompanyID = ID
    FROM dbo.Companies
    WHERE AccountID = @AccountID;


    ----------------------------------------------------
    -- UPDATE existing customers
    -- Scenario 4
    ----------------------------------------------------
    UPDATE t
    SET
        t.CustomerName = s.CustomerName,
        t.CustomerAddress1 = s.CustomerAddress1,
        t.CustomerAddress2 = s.CustomerAddress2,
        t.CustomerCity = s.CustomerCity,
        t.CustomerState = s.CustomerState,
        t.CustomerCountry = s.CustomerCountry,
        t.CustomerPhone = s.CustomerPhone,
        t.CustomerPostalCode = s.CustomerPostalCode
    FROM dbo.CompanyCustomers t
    INNER JOIN staging.Customers s
        ON t.ClientID = s.CustomerClientID
        AND t.CompanyID = @CompanyID;


    ----------------------------------------------------
    -- INSERT new customers
    -- Scenario 1,2,3
    ----------------------------------------------------
    INSERT INTO dbo.CompanyCustomers
    (
        ClientID,
        CompanyID,
        CustomerName,
        CustomerAddress1,
        CustomerAddress2,
        CustomerCity,
        CustomerState,
        CustomerCountry,
        CustomerPhone,
        CustomerPostalCode
    )
    SELECT
        s.CustomerClientID,
        @CompanyID,
        s.CustomerName,
        s.CustomerAddress1,
        s.CustomerAddress2,
        s.CustomerCity,
        s.CustomerState,
        s.CustomerCountry,
        s.CustomerPhone,
        s.CustomerPostalCode
    FROM staging.Customers s
    LEFT JOIN dbo.CompanyCustomers t
        ON t.ClientID = s.CustomerClientID
        AND t.CompanyID = @CompanyID
    WHERE t.ClientID IS NULL;


    ----------------------------------------------------
    -- Update classifications
    ----------------------------------------------------
    UPDATE t
    SET
        t.CustomerTypeID = src.CustomerTypeID,
        t.CustomerIndustryID = src.IndustryTypeID,
        t.CustomerAccountTypeID = src.AccountTypeID
    FROM dbo.CompanyCustomers t
    INNER JOIN
    (
        SELECT
            s.CustomerClientID,
            cat.ID AS AccountTypeID,
            ct.ID AS CustomerTypeID,
            it.ID AS IndustryTypeID
        FROM staging.Customers s
        LEFT JOIN dbo.CompanyAccountTypes cat
            ON cat.ClientID = s.CustomerAccountTypeClientID
            AND cat.CompanyID = @CompanyID
        LEFT JOIN dbo.CompanyCustomerTypes ct
            ON ct.ClientID = s.CustomerTypeClientID
            AND ct.CompanyID = @CompanyID
        LEFT JOIN dbo.CompanyIndustries it
            ON it.ClientID = s.CustomerIndustryTypeClientID
            AND it.CompanyID = @CompanyID
    ) src
        ON t.ClientID = src.CustomerClientID
        AND t.CompanyID = @CompanyID;

END