
CREATE OR ALTER PROCEDURE [staging].[UpsertAreaOfResponsibilitiesToLive]
(
    @AccountID INT
)
AS
BEGIN

    SET NOCOUNT ON;

    ------------------------------------------------
    -- Get CompanyID
    ------------------------------------------------
    DECLARE @CompanyID INT;

    SELECT TOP 1
        @CompanyID = ID
    FROM dbo.Companies
    WHERE AccountID = @AccountID;


    ------------------------------------------------
    -- Scenario 4
    -- Company exists + ClientID exists → UPDATE
    ------------------------------------------------
    UPDATE t
    SET
        t.[Name] = s.[Name]
    FROM dbo.CompanyAreaOfResponsibilities t
    INNER JOIN staging.AreaOfResponsibilities s
        ON t.ClientID = s.ClientID
        AND t.CompanyID = @CompanyID
    WHERE
        ISNULL(t.[Name],'') <> ISNULL(s.[Name],'');


    ------------------------------------------------
    -- Scenario 1,2,3
    -- INSERT when ClientID + CompanyID does not exist
    ------------------------------------------------
    INSERT INTO dbo.CompanyAreaOfResponsibilities
    (
        ClientID,
        CompanyID,
        [Name]
    )
    SELECT
        s.ClientID,
        @CompanyID,
        s.[Name]
    FROM staging.AreaOfResponsibilities s
    LEFT JOIN dbo.CompanyAreaOfResponsibilities t
        ON s.ClientID = t.ClientID
        AND t.CompanyID = @CompanyID
    WHERE t.ClientID IS NULL;

END