USE [GenRev06]
GO
/****** Object:  StoredProcedure [staging].[UpsertIndustryTypesToLive]    Script Date: 09-10-2025 01:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ==============================
-- Upsert Industry Types
-- ==============================

CREATE OR ALTER PROCEDURE [staging].[UpsertIndustryTypesToLive_Industry] (@AccountID INT) AS

	 /* TEST DATA
	DECLARE @AccountID INT
	SET @AccountID = 1
	-- */
	
begin

	declare @CompanyID int 
	set @CompanyID = (select top 1 ID from dbo.Companies where AccountID = @AccountID)

	-- update matches
	begin
		 UPDATE t SET
    t.ClientID = s.TypeClientID
FROM staging.IndustryTypes AS s
INNER JOIN dbo.CompanyIndustries AS t
    ON t.IndustryName = s.TypeName AND t.CompanyID = @CompanyID;

	end

	-- ✅ Insert only if that ClientID + CompanyID combo does not exist
  -- ✅ Insert only if (CompanyID, IndustryName) does not exist
INSERT INTO dbo.CompanyIndustries (
    ClientID,
    CompanyID,
    IndustryName
)
SELECT
    s.TypeClientID,
    @CompanyID,
    s.TypeName
FROM staging.IndustryTypes AS s
WHERE NOT EXISTS (
    SELECT 1
    FROM dbo.CompanyIndustries AS t
    WHERE t.CompanyID = @CompanyID AND t.IndustryName = s.TypeName
);

end
	
