-- ==============================
-- Remove Gender from Personnel upsert
-- ==============================
CREATE OR ALTER   PROCEDURE [staging].[UpsertPersonnelToLive]
(
    @AccountID INT
)
AS
BEGIN

    SET NOCOUNT ON;

    -------------------------------------------------------------
    -- 1. Get CompanyID for the Account
    -------------------------------------------------------------
    DECLARE @CompanyID INT;

    SELECT TOP 1 
        @CompanyID = ID
    FROM dbo.Companies
    WHERE AccountID = @AccountID;


    -------------------------------------------------------------
    -- 2. Validate duplicate ClientIDs inside staging table
    --    (Scenario 6)
    -------------------------------------------------------------
    IF EXISTS (
        SELECT PersonClientID
        FROM staging.Personnel
        GROUP BY PersonClientID
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('Duplicate ClientID found in staging.Personnel file.',16,1);
        RETURN;
    END


    -------------------------------------------------------------
    -- 3. UPDATE existing records
    --    (Scenario 4)
    --    Only update if names changed
    -------------------------------------------------------------
    UPDATE t
    SET 
        t.PersonFirstName = s.PersonFirstName,
        t.PersonLastName = s.PersonLastName
    FROM dbo.Personnel t
    INNER JOIN staging.Personnel s
        ON t.ClientID = s.PersonClientID
        AND t.CompanyID = @CompanyID
    WHERE 
        ISNULL(t.PersonFirstName,'') <> ISNULL(s.PersonFirstName,'')
        OR
        ISNULL(t.PersonLastName,'') <> ISNULL(s.PersonLastName,'');


    -------------------------------------------------------------
    -- 4. INSERT new records
    --    (Scenario 1,2,3,7)
    -------------------------------------------------------------
    INSERT INTO dbo.Personnel
    (
        ClientID,
        CompanyID,
        PersonFirstName,
        PersonLastName
    )
    SELECT
        s.PersonClientID,
        @CompanyID,
        s.PersonFirstName,
        s.PersonLastName
    FROM staging.Personnel s
    LEFT JOIN dbo.Personnel t
        ON t.ClientID = s.PersonClientID
        AND t.CompanyID = @CompanyID
    WHERE t.ClientID IS NULL;


END
