USE [Genrev_VBA_Testing_Bkp]
GO
/****** Object:  StoredProcedure [staging].[UpsertIndustryTypesToLive]    Script Date: 3/16/2026 10:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ==============================
-- Upsert Industry Types
-- ==============================
ALTER   PROCEDURE [staging].[UpsertIndustryTypesToLive]
(
    @AccountID INT
)
AS
BEGIN

    SET NOCOUNT ON;

    ------------------------------------------------
    -- Get CompanyID
    ------------------------------------------------
    DECLARE @CompanyID INT;

    SELECT TOP 1
        @CompanyID = ID
    FROM dbo.Companies
    WHERE AccountID = @AccountID;


    ------------------------------------------------
    -- UPDATE existing industries
    -- Scenario 4
    ------------------------------------------------
    UPDATE t
    SET
        t.IndustryName = s.TypeName
    FROM dbo.CompanyIndustries t
    INNER JOIN staging.IndustryTypes s
        ON t.ClientID = s.TypeClientID
        AND t.CompanyID = @CompanyID;


    ------------------------------------------------
    -- INSERT new industries
    -- Scenario 1,2,3
    ------------------------------------------------
    INSERT INTO dbo.CompanyIndustries
    (
        ClientID,
        CompanyID,
        IndustryName
    )
    SELECT
        s.TypeClientID,
        @CompanyID,
        s.TypeName
    FROM staging.IndustryTypes s
    LEFT JOIN dbo.CompanyIndustries t
        ON t.ClientID = s.TypeClientID
        AND t.CompanyID = @CompanyID
    WHERE t.ClientID IS NULL;

END