-- ==============================
-- Upsert Customer Types
-- ==============================

CREATE OR ALTER   PROCEDURE [staging].[UpsertCustomerTypesToLive]
(
    @AccountID INT
)
AS
BEGIN

    SET NOCOUNT ON;

    ---------------------------------------------------
    -- Get CompanyID
    ---------------------------------------------------
    DECLARE @CompanyID INT;

    SELECT TOP 1
        @CompanyID = ID
    FROM dbo.Companies
    WHERE AccountID = @AccountID;


    ---------------------------------------------------
    -- Validate duplicate ClientIDs in staging
    ---------------------------------------------------
    IF EXISTS
    (
        SELECT TypeClientID
        FROM staging.CustomerTypes
        GROUP BY TypeClientID
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('Duplicate TypeClientID found in staging.CustomerTypes.',16,1);
        RETURN;
    END


    ---------------------------------------------------
    -- UPDATE existing records if TypeName changed
    ---------------------------------------------------
    UPDATE t
    SET
        t.TypeName = s.TypeName
    FROM dbo.CompanyCustomerTypes t
    INNER JOIN staging.CustomerTypes s
        ON t.ClientID = s.TypeClientID
        AND t.CompanyID = @CompanyID
    WHERE
        ISNULL(t.TypeName,'') <> ISNULL(s.TypeName,'');


    ---------------------------------------------------
    -- INSERT new records
    ---------------------------------------------------
    INSERT INTO dbo.CompanyCustomerTypes
    (
        ClientID,
        CompanyID,
        TypeName
    )
    SELECT
        s.TypeClientID,
        @CompanyID,
        s.TypeName
    FROM staging.CustomerTypes s
    LEFT JOIN dbo.CompanyCustomerTypes t
        ON t.ClientID = s.TypeClientID
        AND t.CompanyID = @CompanyID
    WHERE t.ClientID IS NULL;

END