/****** Object:  StoredProcedure [staging].[UpsertCustomerTypesToLive]    Script Date: 09-10-2025 11:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- ==============================
-- Upsert Customer Types
-- ==============================

CREATE OR ALTER PROCEDURE [staging].[UpsertCustomerTypesToLive_Customer] (@AccountID INT) AS

	 /* TEST DATA
	DECLARE @AccountID INT
	SET @AccountID = 1
	-- */
	
	-- use this to resolve companyID until we get multi-company
	-- handling worked in...
	DECLARE @CompanyID INT
	SET @CompanyID = (SELECT TOP 1 ID FROM dbo.Companies WHERE AccountID = @AccountID)
	
	-- update matches
	UPDATE t 
	SET t.TypeName = s.TypeName
    FROM staging.CustomerTypes AS s
    INNER JOIN dbo.CompanyCustomerTypes AS t
        ON t.ClientID = s.TypeClientID 
		AND t.CompanyID = @CompanyID;
		
	        ;WITH Src AS (
            SELECT
                MIN(s.TypeClientID) AS TypeClientID, -- choose a deterministic client id if multiple exist
                LTRIM(RTRIM(s.TypeName)) AS TypeName
            FROM staging.CustomerTypes AS s
            WHERE s.TypeName IS NOT NULL
                AND LTRIM(RTRIM(s.TypeName)) <> ''
            GROUP BY LTRIM(RTRIM(s.TypeName))
        )
        INSERT INTO dbo.CompanyCustomerTypes (ClientID, CompanyID, TypeName)
        SELECT s.TypeClientID, @CompanyID, s.TypeName
        FROM Src s
        LEFT JOIN dbo.CompanyCustomerTypes t
            ON t.CompanyID = @CompanyID
            AND t.TypeName = s.TypeName
        WHERE t.TypeName IS NULL;

	
